
header#navbar {
  .navbar-header {
    width: 100%;
    a.add-link {
      background-color: #f8f8f8;
      float: right;
      padding-top: 5px;
      padding-right: 14px;
      height: 32px;
      margin-top: 9px;
    }
  }
}

footer.footer {
  nav.navbar {
    margin-bottom: 0;
    .container {
      line-height: 50px;
    }
  }
}


/*
div.region-navigation {
    float: right;
    margin-top: 8px;
}

footer.footer {
    padding-top: 10px;
}

*/
