
header#navbar {
  margin: 0;
  width: 100%;
  max-width: none;
  .navbar-header {
    width: 100%;
    a.add-link {
      background-color: #90ee90;
      float: right;
      padding-top: 5px;
      padding-right: 14px;
      height: 32px;
      margin-top: 9px;
    }
  }
}

footer.footer {
  border-top: none;
  margin-bottom: 0;
  nav.navbar {
    margin-bottom: 0;
    .container {
      line-height: 50px;
    }
  }
}

.navfooter {
  a {
    text-decoration: none;
    .navfooter-text {
      color: #000;
      font-size: 16px;
    }
  }
}

/*
div.region-navigation {
    float: right;
    margin-top: 8px;
}

footer.footer {
    padding-top: 10px;
}

*/
