div.region-navigation {
    float: right;
    margin-top: 8px;
}


/* Footer */

footer.footer {
  margin-top:0;
  /* for admin bar, abaondon margin-bottom:53px;*/
  /* padding-top:50px; */
  border-top: none;
  padding-bottom: 0;
}

footer div.container {
  padding-top: 14px;
}

footer nav.navbar {
    margin-bottom: 0;
}

footer.footer {
    padding-top: 10px;
}

