.muread-content-wrap {
  margin-top: 76px;
}
.field-name-field-image .field-label {
  display: none;
}
body.page-c .navbar > .container-fluid .navbar-header .navbar-brand {
  margin-left: 0;
  padding: 15px 0px 15px 15px;
}
body.page-c .navbar > .container-fluid .navbar-header .navbar-brand.category-name {
  font-size: 16px;
}
#muread-articles .main-content-wrapper > .row {
  margin-bottom: 15px;
}
#muread-articles .main-content-wrapper > .row .field-name-field-image img {
  border-radius: 5px;
  margin: 0 auto;
}
#muread-articles .main-content-wrapper > .row .item-detail {
  padding-left: 0;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-title {
  font-size: 18px;
  margin-bottom: 8px;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-title a {
  text-decoration: none;
  color: #3e3e3e;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-author {
  color: #78909c;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-footer {
  color: #c0c0c0;
  line-height: 36px;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-footer .term {
  border: 1px solid #e4ebf4;
  border-radius: 6px;
  padding: 2px 10px;
  color: #78909c;
}
#muread-articles .main-content-wrapper > .row .item-detail .news-footer .article-comment {
  display: inline-block;
  float: right;
  margin-right: 10px;
  color: #c8c8c8;
}
#muread-articles #item-more9 {
  cursor: pointer;
  margin-bottom: 50px;
}
#muread-articles #item-more9 .more-wrap {
  background-color: #f8f8f8;
}
#muread-articles #item-more9 .more-wrap .spinner-wrap {
  position: relative;
}
#muread-articles #item-more9 .more-wrap .spinner-wrap .spinner {
  position: absolute;
  left: -18px;
}
#muread-articles #item-more9 .more-wrap .spinner-wrap .glyphicon {
  padding-top: 4px;
}
