.news-odd-row {
  background: #eff0f2;
  border-radius: 5px;
}

.news-item-wrap {
  padding: 10px;
}

.news-item-wrap a {
  text-decoration: none;
  color: #0000ff;
  font-size: medium;
}

.news-item-wrap a:hover {
  text-decoration: none;
  color: #0000ff;
}

.news-item-wrap .news-footer {
  margin-top: 10px;
  color: #8f8f8f;
}

#item-more9 {
  background-color: #efefef;
  margin-top: 16px;
}
#item-more9:hover {
  cursor: pointer;
}

.spinner-wrap {
  position: relative;
}
.spinner-wrap .spinner {
  position: absolute;
  left: -18px;
}
.spinner-wrap .glyphicon {
  padding-top: 4px;
}


