.muread-content-wrap {
  margin-top: 76px;
}

.field-name-field-image .field-label {
  display: none;
}

body.page-c {
  .navbar {
    >.container-fluid {
      .navbar-header {
        .navbar-brand {
          margin-left: 0;
          padding: 15px 0px 15px 15px;
        }
      }
    }
  }
}

.main-content-wrapper {
  >.row {
    margin-bottom: 15px;
    .field-name-field-image {
      img {
        border-radius: 5px;
        margin: 0 auto;
      }
    }
  }
}

