.muread-content-wrap {
  margin-top: 76px;
}
.field-name-field-image .field-label {
  display: none;
}
body.page-c .navbar > .container-fluid .navbar-header .navbar-brand {
  margin-left: 0;
  padding: 15px 0px 15px 15px;
}
body.page-c .navbar > .container-fluid .navbar-header .navbar-brand.category-name {
  font-size: 14px;
}
.main-content-wrapper > .row {
  margin-bottom: 15px;
}
.main-content-wrapper > .row .field-name-field-image img {
  border-radius: 5px;
  margin: 0 auto;
}
.main-content-wrapper > .row .item-detail {
  padding-left: 0;
}
.main-content-wrapper > .row .item-detail .news-title {
  font-size: 18px;
  margin-bottom: 8px;
}
.main-content-wrapper > .row .item-detail .news-author {
  color: #c0c0c0;
}
.main-content-wrapper > .row .item-detail .news-footer {
  color: #c0c0c0;
  line-height: 36px;
}
.main-content-wrapper > .row .item-detail .news-footer .term {
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  padding: 2px 10px;
}
