body.node-type-ding-yue-hao .main-container.container .article-wrap {
  margin-top: 66px;
}
body.node-type-ding-yue-hao .main-container.container .article-wrap h1 {
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
  padding: 0;
}
body.node-type-ding-yue-hao .main-container.container .article-wrap article.node-ding-yue-hao .article-cover img {
  margin: 0 auto;
}
@media (max-width: 576px) {
  body.node-type-ding-yue-hao .main-container.container .article-wrap article.node-ding-yue-hao .article-cover img {
    width: 100%;
  }
}
