form#webform-client-form-5364 .form-radios .radio {
  width: 50%;
  float: left;
  margin-top: 0;
}
form#webform-client-form-5364 .form-actions {
  text-align: center;
}
form#webform-client-form-5364 .form-actions button.form-submit {
  width: 80px;
  font-size: 16px;
  background-color: #f8f8f8;
}
