
@media (max-width: 767px) {
    .news-main-image {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .news-main-image-wrapper {
        margin-right: 14px;
        margin-bottom: 4px;
        float: left; 
    }

    .news-block {
        background-color: #F5F5F5;
    }

}

@media (min-width: 768px) {

  .news-main-image {
    margin-bottom: 16px;
  }

  .news-main-image-wrapper {
    margin-bottom: 16px;
  }

  .region .container {
    padding-left: 0;
    padding-right: 0;
  }

  .field-name-field-picture img {
    width: 660px;
    max-height: 92px;
  }

}

@media (min-width: 992px) {
  .field-name-field-picture img {
    width: 660px;
    max-height: 122px;
  }
}

@media (min-width: 1200px) {
  .field-name-field-picture img {
    width: 660px;
    max-height: 146px;
  }
}


.field-label {
      display:none;
}

.news-block {
    margin-bottom: 20px;
}

.field-name-field-picture img {
    width: 660px;
}

.news-main-time {
    margin-top: 8px;
}
.news-main-title {
    margin-top: 4px;
    margin-bottom: 6px;
    /*
    height: 42px;
    */
}


/* tags */
/*
.news-main-tags a {
    padding: 2px 3px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3px 5px;
}
*/
.news-main-tags {
    margin-top: 12px;
    margin-bottom: 12px;
}

span.mu-single-tag {
    padding: 0px 2px;
    border: 1px solid #AFEEEE;
    border-radius: 4px;
    margin: 3px 4px 3px 0;
    background-color: #AFEEEE;
}

span.mu-single-tag a {
    color: #000080;
}

.item-summary {
  margin-top: 6px;
  display: none;
}

/*
.redirect {
    margin-top: 6px;
    padding-top: 4px;
    margin-bottom: 4px;
    height: 30px;
    border-top: 1px solid #AFEEEE;
}
*/

.mu-author {
    margin-right: 8px;
}

.news-main-intro {
    margin-bottom: 6px;
}


.news-main-date {
    font-size: 12px;
}


/* More bar */
.more-bar {
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

a#item-more {
    text-decoration: none;
}

/* Title and content */
.highlight-title {
    margin-bottom: 6px;
    font-size: 16px;
    color: #004454;
}

.pop-item .summary-content {
  display: none;
}

/* Modal */
#modal-item-image {
  margin-bottom: 10px;
}

#modal-item-summary {
  margin-bottom: 12px;
}

/* External link */
/*
.news-main-external-link {
    display: none;
}

.news-main-external-link a {
    font-size: 12px;
}
*/

.glyphicon {
    padding-right: 8px;
    color: #337ab7;
}

/* Contact */
.contact-obserbot {
    margin-top: 18px;
}

/* Home links */
.muread-link {
    margin: 7px 0;
}

.muread-link a {
    font-size: 16px;
    padding-left: 10px;
}

/*
.news-block .muread-link {
*/
.links-wrapper {
    display: none;
}

/* Flags */
.flag-icon {
    padding-right: 46px;
}

.news-main-comment {
    float: right;
}

.home-content {
    margin-bottom: 30px;
}
